/**********************
/***** Services *******
/*********************/


section{
    padding: 60px 0;
}
section .section-title{
    text-align:center;
    color:#007b5e;
    margin-bottom:50px;
    text-transform:uppercase;
}
#what-we-do{
    background:#ffffff;
}
#what-we-do .card{
    padding: 1rem!important;
    border: none;
    margin-bottom:1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#what-we-do .card:hover{
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
    padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
    color: #007b5e !important;
    font-weight:700;
    text-decoration:none;
}
#what-we-do .card .card-block a i{
    display:none;

}
#what-we-do .card:hover .card-block a i{
    display:inline-block;
    font-weight:700;

}
#what-we-do .card .card-block:before{
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f1b0";
}
#what-we-do .card .block-2:before{
    content: "\f6d3";
}
#what-we-do .card .block-3:before{
    content: "\f5d7";
}
#what-we-do .card .block-4:before{
    content: "\f004";
}
#what-we-do .card .block-5:before{
    content: "\f00c";
}
#what-we-do .card .block-6:before{
    content: "\f584";
}
#what-we-do .card:hover .card-block:before{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}