@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css");
@import url('https://fonts.googleapis.com/css?family=Tajawal');

@import "footer";
@import "hero";
@import "service";
@import "team";